@page
@{
    ViewData["Title"] = "Home page";
}

<form asp-controller="Home" asp-action="Submit">
    <input type="text" name="myInput" placeholder="Digite algo aqui...">
    <button type="submit">Enviar</button>
</form>



